.details-content {
    min-height: 71.25vh;
}

.exit-button {
    width: 7.5vw;
    display: flex;
    justify-self: end;
    margin: 1rem 1rem 1rem 0;
}

.pokemon-title {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.details-pokemon-name {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
    color: #1E1E1E;
}

.pokemon-id {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: large;
    color: rgb(65, 65, 65);
}

.details-types-list {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.details-types {
    width: 25%;
    text-transform: capitalize;
    text-align: center;
    padding: .25rem;
    border-radius: 1rem;
    color: #FFFFFF;
}

.hidden {
    color: #F2F2F2;
}

.details-pokemon-img {
    width: 75vw;
    display: flex;
    justify-self: center;
    margin: 1rem 0 1rem 0;
}

.details-container {
    width: 85vw;
    display: flex;
    justify-self: center;
    flex-direction: column;
    border-radius: .25rem;
    padding: .5rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.options-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.option {
    width: 45%;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    color: #1E1E1E;
}

.active-tab {
    border-bottom: 2px solid #3B82F6;
}

.details-pokemon-info-list {
    width: 100%;
    display: flex;
    text-transform: capitalize;
    gap: 1rem;
    margin-bottom: .5rem;
}

.details-label {
    width: 33%;
    color: rgb(65, 65, 65);
}

.subheading {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 600;
    margin: 1rem 0 .5rem 0;
}

.stats-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.stats {
    width: 15%;
}

.bar-bg {
    width: 100%;
    height: 8px;
    background-color: #F2F2F2;
    border-radius: 1rem;
    overflow: hidden;
}

.bar {
    height: 100%;
}

/* Tablet */
@media (width >= 768px) {
    .exit-button {
        width: 4vw;
    }

    .pokemon-title {
        width: 65vw;
        justify-self: center;
        margin: 2.5rem 0 2.5rem 0;
    }

    .details-types-list {
        width: 65vw;
        justify-self: center;
    }

    .details-pokemon-img {
        width: 50vw;
    }

    .details-container {
        width: 60vw;
    }

    .details-label {
        width: 20%;
    }
}

/* Laptop */
@media (width >= 1024px) {
    .exit-button {
        width: 3vw;
    }

    .pokemon-title {
        width: 55vw;
    }

    .details-types-list {
        width: 55vw;
    }

    .details-pokemon-img {
        width: 40vw;
    }

    .details-container {
        width: 45vw;
    }
}

/* Desktop */
@media (width >= 1440px) {
    .exit-button {
        width: 2vw;
    }

    .pokemon-title {
        width: 50vw;
    }

    .details-types-list {
        width: 50vw;
    }

    .details-pokemon-img {
        width: 30vw;
    }

    .details-container {
        width: 32.5vw;
    }
}

.good { background-color: #22C55E; }
.medium { background-color: #F59E0B; }
.bad { background-color: #EF4444; }